body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

header {
  background-color: #1f2937;
  color: white;
  display: flex;
  padding: 8px 15%;
}

.header-logo {
  margin-right: auto;
}

.header-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header-links li {
  margin-left: 16px;
}

.header-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.848);
}